In [1]:
import numpy as np 
import pandas as pd 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/wnba-player-stats-2017/WNBA Stats.csv

In [2]:
df = pd.read_csv('/kaggle/input/wnba-player-stats-2017/WNBA Stats.csv')
df.head()

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,...,6,22,28,12,3,6,12,93,0,0
1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,...,19,82,101,72,63,13,40,217,0,0
2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,...,4,36,40,78,22,3,24,218,0,0
3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,...,35,134,169,65,20,10,38,188,2,0
4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,...,3,9,12,12,7,0,14,50,0,0

In [3]:
df['Pos'].value_counts()

Pos
G      60
F      33
C      25
G/F    13
F/C    12
Name: count, dtype: int64

In [4]:
df['Pos'].value_counts(normalize=True) * 100

Pos
G      41.958042
F      23.076923
C      17.482517
G/F     9.090909
F/C     8.391608
Name: proportion, dtype: float64

In [5]:
df['Height'].value_counts().sort_index(ascending=True)

Height
165     1
168     2
170     6
173    11
175    16
178     8
180     7
183    11
185    15
188    20
191    11
193    18
196     9
198     5
201     2
206     1
Name: count, dtype: int64

In [6]:
df['Age'].value_counts(normalize=True)

Age
24    0.111888
23    0.104895
25    0.104895
28    0.097902
27    0.090909
26    0.083916
22    0.069930
30    0.062937
31    0.055944
29    0.055944
32    0.055944
34    0.034965
35    0.027972
33    0.020979
21    0.013986
36    0.006993
Name: proportion, dtype: float64

In [7]:
from scipy.stats import percentileofscore
percentileofscore(a = df['Age'], score = 23, kind = 'weak')

18.88111888111888

In [8]:
(df['Age'].value_counts(normalize=True) * 100).reset_index().query(" Age <= 23 ")['proportion'].sum()

18.881118881118883

In [9]:
df['Age'].value_counts().sort_index(ascending=True)

Age
21     2
22    10
23    15
24    16
25    15
26    12
27    13
28    14
29     8
30     9
31     8
32     8
33     3
34     5
35     4
36     1
Name: count, dtype: int64

In [12]:
df['Weight'].value_counts().sort_index()

Weight
55.0      1
57.0      1
58.0      1
59.0      2
62.0      1
63.0      3
64.0      5
65.0      4
66.0      8
67.0      1
68.0      2
69.0      2
70.0      3
71.0      2
73.0      6
74.0      4
75.0      4
76.0      4
77.0     10
78.0      5
79.0      6
80.0      3
81.0      5
82.0      4
83.0      4
84.0      9
85.0      2
86.0      7
87.0      6
88.0      6
89.0      3
90.0      2
91.0      3
93.0      3
95.0      2
96.0      2
97.0      1
104.0     2
108.0     1
113.0     2
Name: count, dtype: int64

Create PTS Ordinal Scale

In [ ]:
(df['Age'].value_counts(normalize=True) * 100)

In [ ]:
(df['Age'].value_counts(normalize=True)).reset_index().query(" Age == 30 ")['proportion'].sum()

In [ ]:
(df['Age'].value_counts(normalize=True) * 100).reset_index().query(" Age == 30 ")['proportion'].sum()

In [ ]:
def set_ordinal_scale(row,col):
    if row[col] <= 20:
        return 'very few points'
    elif row[col] > 20 and row[col] <= 80:
        return 'few points'
    elif row[col] > 80 and row[col] <= 150:
        return 'many points'
    elif row[col] > 150:
        return 'a lot of points'

In [ ]:
df['PTS_ordinal_scale'] = df.apply(set_ordinal_scale,args=('PTS',),axis=1)

In [ ]:
df['PTS_ordinal_scale'].value_counts()[['very few points', 'few points', 'many points', 'a lot of points']]

In [ ]:
np.float64(0.1048951048951049)

In [ ]:
df['Age'].describe().iloc[3:]

In [ ]:
df['Age'].describe(percentiles=[.25,.75]).iloc[3:]

In [ ]:
df['Age'].describe(percentiles=[.75,.50,.95]).reset_index().query(" index=='75%' ")['Age'].values[0]